<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card>
    <img src="https://static-papelmagia.plataformaneo.com.br/produto/20220321134629_8015991985_H.jpg"/>

    <ion-card-content>
      <p>Caderno Espiral Cicero Pastel Pautado A5</p>
      <h1>R$ 54,90</h1>
      <ion-button>COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://static-papelmagia.plataformaneo.com.br/produto/20200217103402_6297993703_H.jpg"/>

    <ion-card-content>
      <p>Caneta Esf Retrátil Vermelha</p>
      <h1>R$ 44,50</h1>
      <ion-button>COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
