ion-toolbar {
    --background: #e9968e;
}
ion-title {
    color: #fff;
}
ion-button {
    --background: #e9968e;
    color: #fff;
}
ion-card-content {
    text-align: center;
}
ion-card {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
