<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card>
  <form [formGroup]="formLogin">

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input formControlName="email"></ion-input>
      <ng-container *ngFor="let erro of mensagens.email">
        <span class="msg-erro"
        *ngIf="formLogin.get('email').hasError(erro.tipo) && (formLogin.get('email').dirty || formLogin.get('email').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
      <ng-container *ngFor="let erro of mensagens.senha">
        <span class="msg-erro"
        *ngIf="formLogin.get('senha').hasError(erro.tipo) && (formLogin.get('senha').dirty || formLogin.get('senha').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

  <ion-button expand="full" (click)="salvarLogin()">ENTRAR</ion-button>

  <ion-button expand="full" routerLink="/registro">REGISTRAR-SE</ion-button>

  <ion-button expand="full">Esqueceu a senha?</ion-button>
</form>
</ion-card>
</ion-content>
