<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formLogin">

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input formControlName="email"></ion-input>
      <ng-container *ngFor="let erro of mensagens.email">
        <span class="msg-erro"
        *ngIf="formRegistro.get('email').hasError(erro.tipo) && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
      <ng-container *ngFor="let erro of mensagens.senha">
        <span class="msg-erro"
        *ngIf="formRegistro.get('senha').hasError(erro.tipo) && (formRegistro.get('senha').dirty || formRegistro.get('senha').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

  <ion-button expand="full">Entrar</ion-button>

  <ion-button expand="full">Registrar</ion-button>

  <ion-button expand="full">Esqueceu a senha?</ion-button>
</form>
</ion-content>
