<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <ion-card>
    <img src="" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-item routerLink="/login">Faça seu login!</ion-item>
  <br>
  <ion-item routerLink="/registro">Não tem login? Faça seu registro!</ion-item>
</ion-content>
